---
import LetterGlitch from "../React/LetterGlitch.tsx";
import LogoWall from "../components/logoWall.astro";
import TechCards from "../components/techCards.astro";
import SkillsList from "../React/SkillsList.tsx";
import { SOCIAL_NET } from "@/content/social.ts";
---

<section class="text-[var(--white)] mt-12 md:mt-0" id="home">
   <div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
      <div class="text-left space-y-4">
         <p class="text-md md:text-lg text-[var(--white)] shiny-white">
            Hola, Soy José Refugio Rivera
         </p>
         <div
            class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4"
         >
            <h1
               class="text-[var(--white)] text-4xl md:text-6xl font-medium text-pretty leading-none"
            >
               Desarrollador <br /> de Software
            </h1>
            <p class="text-md md:text-2xl text-[var(--white-icon)]">
               Soy un programador Web con conocimiento en alternativas de
               desarrollo <span class="text-[var(--sec)] shiny-sec"
                  >backend y frontend</span
               >. Además, también poseo conocimientos de <span
                  class="text-[var(--sec)] shiny-sec">soporte TI</span
               >.
               <br />
               Encuentro gran motivación al involucrarme en soluciones que <span
                  class="text-[var(--sec)] shiny-sec"
                  >representen un verdadero reto y generen un impacto
                  significativo</span
               >. Me inspira aportar a un objetivo con visión y, al mismo
               tiempo, enriquecer mi aprendizaje para <span
                  class="text-[var(--sec)] shiny-sec"
                  >consolidar mi desarrollo profesional</span
               > hacia una meta clara.
            </p>
         </div>
         
         <div class="flex justify-start gap-2 pt-3 md:pt-6">
            {
               Object.values(SOCIAL_NET).map((link) => (
                  <a
                     target="_blank"
                     href={link.href}
                     aria-label={link.label}
                     class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
                  >
                     <div set:html={link.icon} />
                  </a>
               ))
            }
         </div>
      </div>

      <!-- <LogoWall /> -->

      <div class="flex flex-col lg:flex-row items-center gap-8">
         <SkillsList client:load />
         <div
            class="flex justify-center md:w-full md:h-[292px] size-[290px] pt-3 md:pt-9 md:ml-16"
         >
            <LetterGlitch
               client:load
               glitchColors={["#5e4491", "#A476FF", "#241a38"]}
               glitchSpeed={33}
               centerVignette={false}
               outerVignette={true}
               smooth={true}
            />
         </div>
      </div>
      <!-- <TechCards /> -->
   </div>
</section>

<style is:global>
   .shiny-sec {
      background: linear-gradient(
         135deg,
         #a476ff 25%,
         #eee5ff 50%,
         #a476ff 75%
      );
      background-size: 400% 100%;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: shine 3s linear infinite;
   }

   @keyframes shine {
      0% {
         background-position: 100% 50%;
      }
      30%,
      70% {
         background-position: 0% 50%;
      }
   }
</style>
