---
import { Image } from "astro:assets";
import { type Project } from "../content/projects";
import { GITHUBSVG } from "../content/svgContent";
interface Props {
   proyecto: Project;
}

const { proyecto } = Astro.props;
---

<div
   class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-xl dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700 transition-all card_Shadow "
>
   <a href={proyecto.link} target="_blank">
      <Image
         src={proyecto.image}
         alt={`Captura de proyecto ${proyecto.title}`}
         class="object-cover w-full rounded-t-lg h-auto  md:rounded-lg"
      />
   </a>
   <div class="p-5">
      <a href={proyecto.link} target="_blank">
         <h3
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white underline"
         >
            {proyecto.title}
         </h3>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
         {proyecto.desc}
      </p>
      <div class="mb-2">
         {
            proyecto.technologies.map((tech) => (
               <span class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-purple-700 dark:text-white border-2 border-purple-900 dark:border-white ">
                  {tech}
               </span>
            ))
         }
      </div>
      <a
         target="_blank"
         href={proyecto.link}
         aria-label={`Ver proyecto ${proyecto.title} en Github`}
         class="flex flex-row w-max items-center m-auto text-purple-900 dark:text-white hover:border-purple-700 hover:text-white transition duration-300 ease-in-out border-2 dark:border-white border-purple-900 p-3 rounded-xl bg-white dark:bg-[#1414149c] btn_Shadow"
      >
         <div set:html={GITHUBSVG} />
         <p class="font-bold">Ver en GitHub</p>
         <svg
            class="w-6 h-6 "
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
         >
            <path
               fill-rule="evenodd"
               d="M11.403 5H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-6.403a3.01 3.01 0 0 1-1.743-1.612l-3.025 3.025A3 3 0 1 1 9.99 9.768l3.025-3.025A3.01 3.01 0 0 1 11.403 5Z"
               clip-rule="evenodd"></path>
            <path
               fill-rule="evenodd"
               d="M13.232 4a1 1 0 0 1 1-1H20a1 1 0 0 1 1 1v5.768a1 1 0 1 1-2 0V6.414l-6.182 6.182a1 1 0 0 1-1.414-1.414L17.586 5h-3.354a1 1 0 0 1-1-1Z"
               clip-rule="evenodd"></path>
         </svg>
      </a>
   </div>
</div>
